main{
    height: 100vh;
    width: 80%;
}
.library {
    background: #000000;
    position: relative;
}

.rectangle {
    box-sizing: border-box;
    position: absolute;
    width: 80%;
    height: 456px;
    left: 10%;
    top: 98px;
    background: rgba(15, 11, 11, 0.7);
    border: 1px solid #660099;
    border-radius: 8px;
    margin: 0 auto  ;
    overflow-y: auto;
    color:#fff;
}
.rectangle::-webkit-scrollbar {
    width: 5px;
    border-top-right-radius: 5px
}

.rectangle::-webkit-scrollbar-track {
    border-top-right-radius: 5px;
    background-color: transparent;
}

.rectangle::-webkit-scrollbar-thumb {
    background-color: purple;
    border-radius: 5px
}

.rectangle-heading {
    font-size: 12px;
    padding: 12px;
    color: rgba(255, 255, 255, 0.6);
    position: absolute;
    left: 10%;
    top: 68px;
}

.rectangle-heading span {
    padding: 12px;
    cursor: pointer;
}

.rectangle-heading span:active {
    color: #fff;
}

