@import url(./fonts.css);
*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family:'Rubik',sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(./assets/img/background-cover.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
a{
  text-decoration: none;
}
ul {
  list-style: none;
}